#searchWhateverPopup .swe_moveWp {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: auto;
}
#searchWhateverPopup .swe_moveBar {
    width: 50px;
    height: 3px;
    background-color: #888888;
    border-radius: 4px;
    opacity: .3;
    transition: all .3s;
    cursor: move;
}

#searchWhateverPopup .swe_moveBar:hover {
    width: 80px;
    opacity: 1;
}

#searchWhateverPopup .swe_tabsWp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #F5F5F5;
    margin-bottom: 10px;
    padding-bottom: 9px;
    -webkit-user-drag: none;
}

#searchWhateverPopup .swe_tabs {
    display: inline-flex;
    align-items: center;
    user-select: none;

}

#searchWhateverPopup .swe_tabs button {
    position: relative;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    line-height: 16px;
    border: none;
    outline: none;
    display: flex;
    align-items: baseline;
    color: #888888;
    margin-right: 6px;
    padding: 0 4px;
}
#searchWhateverPopup .swe_tabs button.active {
    color: #333;
}
#searchWhateverPopup .swe_tabs button.active::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333333;
}
#searchWhateverPopup .swe_tabs .swe_sum {
    background-color: #f4f4f4;
    padding: 1px 5px;
    border-radius: 7px;
    margin-left: 2px;
    height: 13px;
    line-height: 14px;
    box-sizing: content-box;
}
#searchWhateverPopup .swe_tabs button.active .swe_sum{
    background-color: #333;
    color: #fff;
}

#searchWhateverPopup .swe_searchWp {
    display: flex;
    align-items: center;
    width: 100%;
}

#searchWhateverPopup .swe_searchWp .swe_search_icon {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 13px;
    height: 13px;
}

#searchWhateverPopup .swe_search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f4f4f5;
    border-radius: 6px;
    padding-right: 140px;
    flex: 1;
}

#searchWhateverPopup .swe_close {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .3s;
}

#searchWhateverPopup .swe_close:hover {
    background-color: #fbfbfb;
}
#searchWhateverPopup .swe_close:hover svg path {
    fill: red;
}

#searchWhateverPopup svg {
    width: 10px;
    height: 10px;
}
#searchWhateverPopup #swe_searchInput {
    width: 100%;
    min-width: 200px;
    height: 32px;
    box-sizing: border-box;
    background-color: #f4f4f5;
    color: #000000;
    outline: none;
    border: none;
    padding: 4px 12px 4px 32px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

#searchWhateverPopup .swe_toolbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2px;
    position: absolute;
    right: 4px;
}

#searchWhateverPopup .swe_toolbar span {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
    font-size: 12px;
    color: #888888;
    position: relative;
}
#searchWhateverPopup .swe_toolbar span.active {
    background-color: #f5f5f5;
    color: #0788dc;
    font-weight: bold;
}

#searchWhateverPopup .swe_toolbar span:hover {
    background-color: #f5f5f5;
}
#searchWhateverPopup .swe_toolbar span:hover .tooltip {
    display: block;
}

#searchWhateverPopup .swe_toolbar .tooltip {
    position: absolute;
    display: none;
    top: calc(100% + 12px);
    background: #ffffff;
    border-radius: 4px;
    padding: 4px 8px;
    width: max-content;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
    color: #565656;
    font-weight: bold;
    text-align: left;
    line-height: 18px;
}
#searchWhateverPopup .swe_toolbar .tooltip .desc {
    color: #999999;
    transform: scale(0.9);
    transform-origin: left;
    font-weight: normal;
    line-height: 14px;
}
#searchWhateverPopup .swe_toolbar .tooltip::after {
    content: '';
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
    border: none;
    left: 0;
    right: 0;
    top: -6px;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-bottom: solid 6px #ffffff;
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.1));
}

#searchWhateverPopup .swe_toolbar .swe_prev,
#searchWhateverPopup .swe_toolbar .swe_next{
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
}
#searchWhateverPopup .swe_toolbar .swe_next {
    position: relative;
    transform: rotate(180deg);
    margin-right: 12px;
    margin-left: 4px;
}
#searchWhateverPopup .swe_toolbar .swe_next::after {
    content: '';
    width: 1px;
    position: absolute;
    left: -8px;
    top: 0;
    height: 14px;
    bottom: 0;
    margin: auto;
    background-color: #dfdfdf;
}
#searchWhateverPopup .swe_toolbar .swe_prev:hover,
#searchWhateverPopup .swe_toolbar .swe_next:hover {
    background-color: #f5f5f5;
}

#searchWhateverPopup .swe_toolbar svg {
    width: 20px;
    height: 20px;
}

#searchWhateverPopup .swe_toolbar #live svg {
    width: 16px!important;
    height: 16px!important;
    filter: grayscale(1);
    transition: all .3s;
}
#searchWhateverPopup .swe_toolbar #live.active svg {
    filter: drop-shadow(4px -4px 4px #3aa9e3);
}

#searchWhateverPopup #searchwhatever_result {
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    user-select: none;
    color: #333;
    font-weight: bold;
}

#searchWhateverPopup #searchwhatever_result .swe_current {
    margin: 0 4px 0 2px;
    display: inline-block;
    min-width: 10px;
    text-align: right;
}
#searchWhateverPopup #searchwhatever_result .swe_total {
    margin: 0 0 0 4px;
    display: inline-block;
    min-width: 20px;
    text-align: left;
}

#searchWhateverPopup .swe_visible {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #a0a0a0;
    cursor: grabbing;
    opacity: 0;
}
#searchWhateverPopup .swe_visible svg {
    fill: #a0a0a0;
    margin-right: 4px;
}
#searchWhateverPopup .swe_visible .swe_visibleStatus {
    display: inline-block;
    transform-origin: left;
    transform: scale(.8);
}

::highlight(search-results) {
    background-color: rgba(253, 121, 174, 0.67);
    color: white;
}
::highlight(search-results-active) {
    background-color: #f00;
    color: white;
}
