#searchWhateverPopup .swe_tabsWp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #F5F5F5;
    margin-bottom: 10px;
    padding-bottom: 9px;
}

#searchWhateverPopup .swe_tabs {
    display: inline-flex;
    align-items: center;
}

#searchWhateverPopup .swe_tabs button {
    position: relative;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    line-height: 16px;
    border: none;
    outline: none;
    display: flex;
    align-items: baseline;
    color: #888888;
    margin-right: 6px;
}
#searchWhateverPopup .swe_tabs button.active {
    color: #333;
}
#searchWhateverPopup .swe_tabs button.active::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333333;
}
#searchWhateverPopup .swe_tabs .swe_sum {
    background-color: #f4f4f4;
    padding: 1px 5px;
    border-radius: 7px;
    margin-left: 2px;
    height: 13px;
    line-height: 14px;
}
#searchWhateverPopup .swe_tabs button.active .swe_sum{
    background-color: #333;
    color: #fff;
}

#searchWhateverPopup .swe_searchWp {
    display: flex;
    align-items: center;
    width: 100%;
}

#searchWhateverPopup .swe_searchWp .swe_search_icon {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 13px;
    height: 13px;
}

#searchWhateverPopup .swe_search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f4f4f5;
    border-radius: 6px;
    padding-right: 140px;
    flex: 1;
}

#searchWhateverPopup .swe_close {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .3s;
}

#searchWhateverPopup .swe_close:hover {
    background-color: #fbfbfb;
}
#searchWhateverPopup .swe_close:hover svg path {
    fill: red;
}

#searchWhateverPopup svg {
    width: 10px;
    height: 10px;
}
#searchWhateverPopup #searchInput {
    width: calc(100% - 132px);
    min-width: 200px;
    height: 32px;
    box-sizing: border-box;
    background-color: #f4f4f5;
    color: #000000;
    outline: none;
    border: none;
    padding: 4px 12px 4px 32px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 15px;
}

#searchWhateverPopup .swe_toolbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2px;
    position: absolute;
    right: 4px;
}

#searchWhateverPopup .swe_toolbar span {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
    font-size: 12px;
    color: #888888;
}
#searchWhateverPopup .swe_toolbar span.active {
    background-color: #f5f5f5;
    color: #0788dc;
    font-weight: bold;
}

#searchWhateverPopup .swe_toolbar span:hover {
    background-color: #f5f5f5;
}

#searchWhateverPopup .swe_toolbar .swe_prev,
#searchWhateverPopup .swe_toolbar .swe_next{
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
}
#searchWhateverPopup .swe_toolbar .swe_next {
    position: relative;
    transform: rotate(180deg);
    margin-right: 12px;
    margin-left: 4px;
}
#searchWhateverPopup .swe_toolbar .swe_next::after {
    content: '';
    width: 1px;
    position: absolute;
    left: -8px;
    top: 0;
    height: 14px;
    bottom: 0;
    margin: auto;
    background-color: #dfdfdf;
}
#searchWhateverPopup .swe_toolbar .swe_prev:hover,
#searchWhateverPopup .swe_toolbar .swe_next:hover {
    background-color: #f5f5f5;
}

#searchWhateverPopup .swe_toolbar img {
    width: 20px;
    height: 20px;
}

#searchWhateverPopup #searchwhatever_result {
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    user-select: none;
    color: #333;
    font-weight: bold;
}

#searchWhateverPopup #searchwhatever_result .swe_current {
    margin: 0 4px 0 2px;
    display: inline-block;
    min-width: 10px;
    text-align: right;
}
#searchWhateverPopup #searchwhatever_result .swe_total {
    margin: 0 0 0 4px;
    display: inline-block;
    min-width: 20px;
    text-align: left;
}

#searchWhateverPopup .swe_visible {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #a0a0a0;
    cursor: grabbing;
    opacity: 0;
}
#searchWhateverPopup .swe_visible svg {
    fill: #a0a0a0;
    margin-right: 4px;
}
#searchWhateverPopup .swe_visible .swe_visibleStatus {
    display: inline-block;
    transform-origin: left;
    transform: scale(.8);
}

::highlight(search-results) {
    background-color: rgba(253, 121, 174, 0.67);
    color: white;
}
::highlight(search-results-active) {
    background-color: #f00;
    color: white;
}
