.ant-tabs-tab + .ant-tabs-tab {
	margin: 0 0 0 16px!important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	text-shadow: none!important;
}

.ant-tabs-top > .ant-tabs-nav {
	margin-bottom: 4px!important;
}

.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
	padding: 4px 0 6px !important;
}

.ant-tooltip-inner {
	min-height: unset !important;
	padding: 0!important;
}
.ant-slider-tooltip .ant-tooltip-inner {
	padding: 6px 8px!important;
}

.ant-tooltip-arrow {
	width: 16px !important;
	height: 16px !important;
}

.ant-btn-circle {
	min-width: unset !important;
}
.ant-btn {
	line-height: unset !important;
	padding: unset !important;
}
.ant-btn-text:not(.ant-btn-dangerous):active path {
	fill: #3aa9e3!important;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
	padding: 0 16px !important;
}

.ant-dropdown-menu-item {
	padding: 2px 6px!important;
}
.ant-dropdown-menu-title-content {
	transform: scale(0.9)!important;
}

.ant-popover-inner-content {
	padding: 0 !important;
}
.ant-popconfirm .ant-popover-inner-content {
	padding: 12px 16px!important;
}
.ant-select-item-option-selected {
	color: #fff!important;
}


.dark {
	.ant-dropdown-menu {
		background-color: #242424;
	}

	.ant-dropdown-menu-item-active {
		background-color: black;
	}

	.ant-dropdown-arrow::before {
		background: #242424;
	}
}
