@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--swe-color-primary: unset;
}
:host {
	--swe-color-primary: unset;
}

@layer components {
	#searchWhateverPopup {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	}

	.mainPanel {
		padding: 18px 12px 10px;
		border-radius: 14px;
		background-color: rgba(255, 255, 255, 1);
		border: solid 1px rgb(211 211 211 / 47%);
		box-shadow: 0 0 6px 3px rgb(233 233 233 / 27%);

		&.glass {
			background-color: rgba(255, 255, 255, 0.4);
			backdrop-filter: blur(4px);
			border-color: rgb(255 255 255 / 36%);
		}

		&.dark {
			background-color: rgba(28, 28, 28, 1);
			border-color: rgb(65 65 65 / 47%);
			box-shadow: 0 0 6px 3px rgb(0 0 0 / 27%);

			&.glass {
				background-color: rgba(14, 14, 14, 0.76);
				backdrop-filter: blur(4px);
				border-color: rgb(63 63 63 / 36%);
			}

			.normalButton {
				background-color: #383838;
				color: white;
			}

			.activeButton {
				background-color: rgb(119 134 144 / 16%)!important;
				font-weight: normal!important;
				text-shadow: 0 0 6px var(--swe-color-primary)!important;
			}
		}

		&.lessPT {
			padding-top: 12px;
		}
	}

	.monofont {
		font-family: 'JetBrainsMono', monospace;
	}

	.shadowText {
		text-shadow: 0 1px 3px rgba(156,156,156, 0.4);
	}

	.activeButton {
		background-color: rgba(183, 217, 239, 0.16) !important;
		color: var(--swe-color-primary)!important;
		font-weight: bold;
		text-shadow: none;
	}

	.activeLive {
		& > svg {
			filter: drop-shadow(4px -4px 4px var(--swe-color-primary));
			animation: rotateInf 10s infinite linear;
		}
	}

	.normalButton {
		position: relative;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		color: black;
		border-radius: 4px;
		background-color: white;
		margin-left: 4px;
		padding: 0;
		transition: background-color .3s ease;
	}

	.pageTabStatusBar {
		position: absolute;
		bottom: -4px;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		transition: background-color .1s ease;
		background-color: var(--swe-color-primary);
	}

	.framesTabStatusBar {
		height: 2px;
		flex: 1;
		margin-right: 4px;
		border-radius: 2px;
		transition: background-color .1s ease;
	}

	.smallScroll {
		&::-webkit-scrollbar {
			width: 4px!important;
			height: 4px!important;
		}

		&::-webkit-scrollbar-track {
			background-color: rgba(239, 239, 239, 0.5);
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgb(203, 203, 203);
			border-radius: 4px;
		}

		&::-webkit-scrollbar-corner {
			background-color: rgba(239, 239, 239, 0.5);
		}
	}

	.optionWrap {
		height: 100%;
		padding: 20px 0;
		background: linear-gradient(34deg, rgb(212 238 238 / 57%), transparent 70%, rgba(242, 224, 149, 0.33));
		user-select: none;
	}

	.setting-area {
		box-shadow: 2px 2px 1px 2px rgb(221 183 225 / 32%);
		margin-top: 12px;
		width: 450px;

		.setting-row {
			margin: -1px 0 0 0;
			border-bottom: dashed 1px rgba(150, 64, 222, 0.15);
			border-top: dashed 1px rgba(150, 64, 222, 0.15);
			box-shadow: none;
			border-radius: 0;

			& > div {
				line-height: 14px;
			}

			&:nth-of-type(1) {
				border-top: dashed 1px rgba(150, 64, 222, 0.6);
				border-radius: 4px 4px 0 0;
			}
			&:nth-last-of-type(1) {
				border-bottom: dashed 1px rgba(150, 64, 222, 0.6);
				border-radius:0 0 4px 4px;
			}
		}
	}

	.setting-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 13px;
		padding: 4px 12px;
		border: dashed 1px rgba(150, 64, 222, 0.6);
		height: 34px;
		box-shadow: 2px 2px 1px 2px rgb(221 183 225 / 32%);
		width: 450px;
		margin: 12px 0;
		border-radius: 4px;
		transition: background-color .15s ease-in;

		&:hover {
			background-color: rgb(228 207 250 / 4%);
		}

		.color-picker {
			display: flex;
			align-items: center;
			font-family: monospace;
			border: solid 1px #dedede;
			padding: 2px 4px 2px 3px;
			border-radius: 4px;
			cursor: pointer;
			font-size: 12px;
			transition: border-color 0.3s;

			&:hover {
				border-color: #909090;
			}

			.color-block {
				width: 18px;
				height: 18px;
				border-radius: 2px;
				margin-right: 4px;
			}
		}

		.smallTip {
			font-size: 12px;
			transform: scale(0.8);
			display: inline-block;
			transform-origin: left bottom;
			color: #7d7d7d;
			position: relative;
			bottom: 1px;
		}
	}

	.info-area {
		border-left: solid 4px #b7e1cb;
		padding-left: 8px;
		margin: 20px 0;

		.title {
			color: #0f8547;
			cursor: pointer;
			margin-bottom: 12px;
			font-size: 14px;
			display: flex;
			align-items: center;

			path {
				fill: #0f8547;
			}
		}

		.content {
			padding-left: 4px;

			.previewWp {
				display: flex;
				margin-top: 12px;

				.case {
					list-style: none;
					padding: 0;
					margin: 0 20px 0 0;
					flex-shrink: 0;

					li {
						height: 30px;
						display: flex;
						align-items: center;
						cursor: e-resize;
						font-size: 12px;
						color: #3a3a3a;
						transition: all 0.3s ease;
						padding-left: 12px;

						&.active {
							color: #0f8547;
							background-color: #0f854712;
						}

						&:hover {
							transform: translateX(4px);
						}
					}
				}

				.preview {
					flex: 1;

					img {
						width: 100%;
						border: solid 2px #d9d9d9;
						border-radius: 20px;
						cursor: pointer;
					}
				}
			}
		}
	}



	@keyframes rotateInf {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.sketch-picker * {
		box-sizing: unset!important;
	}

	/* 设置页的 */
	.mainOption {
		position: relative;
		font-size: 13px;
		color: #575757;
		line-height: 22px;
		padding-left: 64px;
		overflow: auto;
		flex: 1;
		padding-right: 500px;
		padding-bottom: 20px;

		&::-webkit-scrollbar {
			width: 6px!important;
			height: 6px!important;
		}

		&::-webkit-scrollbar-track {
			background-color: rgba(239, 239, 239, 0.5);
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgb(203, 203, 203);
			border-radius: 4px;
		}

		&::-webkit-scrollbar-corner {
			background-color: rgba(239, 239, 239, 0.5);
		}
	}

	.areaTitle {
		font-size: 20px;
		display: flex;
		align-items: center;
		position: sticky;
		top: 0;
		color: #000000;
		margin-bottom: 4px;
		padding: 6px 0;
		text-shadow: 2px 2px 2px rgb(208 208 208 / 46%);
	}

	.newPart {
		background-color: rgba(164, 244, 207, 0.21);
		padding: 2px 12px;
		border-radius: 8px;
		margin-left: -12px;

		.new {
			display: inline-block;
			border-radius: 10px;
			color: #007a55;
			background-color: #a4f4cf;
			padding: 1px 6px;
			border: solid 1px rgba(0, 122, 85, 0.14);
			position: absolute;
			left: 10px;
			line-height: 16px;
			box-shadow: 2px 2px 4px 3px #a4f4cf6e;
			font-size: 12px;
		}
	}

	.settingPart {
		/*background-color: rgba(203, 164, 244, 0.21);*/
		padding: 2px 12px;
		border-radius: 8px;
		margin-left: -12px;
	}

	.shortcut {
		font-size: 12px;
		border-radius: 4px;
		border: dashed 1px #61c4ba;
		display: inline-block;
		padding: 0 8px;
		color: #55a3a6;
		background: #effdfb;
		box-shadow: 1px 1px 4px 1px #c8eee8;

		.key {
			font-size: 13px;
		}
	}
}

@layer base {
	button {
		@apply border-none;
	}
	* {
		box-sizing: border-box;
	}

	@font-face {
		src: url('./assets/JetBrainsMono.ttf');
		font-family: 'JetBrainsMono';
	}

	*::placeholder {
		user-select: none;
	}


}
