@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.activeButton {
		background-color: #f5f5f5;
		color: #0788dc!important;
		font-weight: bold;

		& > svg {
			filter: drop-shadow(4px -4px 4px #3aa9e3);
			animation: rotateInf 10s infinite linear;
		}
	}

	#__swe_container {
		button {
			@apply border-none;
		}
		* {
			box-sizing: border-box;
		}
	}

	@keyframes rotateInf {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
