@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	#searchWhateverPopup {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	}

	.activeButton {
		background-color: #f5f5f5;
		color: #0788dc!important;
		font-weight: bold;

		& > svg {
			filter: drop-shadow(4px -4px 4px #3aa9e3);
			animation: rotateInf 10s infinite linear;
		}
	}

	@keyframes rotateInf {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

@layer base {
	button {
		@apply border-none;
	}
	* {
		box-sizing: border-box;
	}
}
