@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	#searchWhateverPopup {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	}

	.monofont {
		font-family: 'JetBrainsMono', monospace;
	}

	.shadowText {
		text-shadow: 0 1px 3px rgba(156,156,156, 0.4);
	}

	.activeButton {
		background-color: rgba(183, 217, 239, 0.16) !important;
		color: #0788dc!important;
		font-weight: bold;

		& > svg {
			filter: drop-shadow(4px -4px 4px #3aa9e3);
			animation: rotateInf 10s infinite linear;
		}
	}

	.normalButton {
		position: relative;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		color: black;
		border-radius: 4px;
		background-color: white;
		margin-left: 4px;
		padding: 0;
		transition: background-color .3s ease;
	}

	.pageTabStatusBar {
		position: absolute;
		bottom: -4px;
		width: 100%;
		height: 2px;
		transition: background-color .1s ease;
	}

	.framesTabStatusBar {
		height: 2px;
		flex: 1;
		margin-right: 4px;
		transition: background-color .1s ease;
	}

	.smallScroll {
		&::-webkit-scrollbar {
			width: 4px!important;
			height: 4px!important;
		}

		&::-webkit-scrollbar-track {
			background-color: rgba(239, 239, 239, 0.5);
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgb(203, 203, 203);
			border-radius: 4px;
		}

		&::-webkit-scrollbar-corner {
			background-color: rgba(239, 239, 239, 0.5);
		}
	}

	.setting-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 13px;
		padding: 4px 12px;
		background-color: #f1f1f1;
		height: 34px;

		&:hover {
			background-color: #e5e5e5;
		}

		.color-picker {
			display: flex;
			align-items: center;
			font-family: monospace;
			border: solid 1px #dedede;
			padding: 2px 4px 2px 3px;
			border-radius: 4px;
			cursor: pointer;
			font-size: 12px;
			transition: border-color 0.3s;

			&:hover {
				border-color: #909090;
			}

			.color-block {
				width: 18px;
				height: 18px;
				border-radius: 2px;
				margin-right: 4px;
			}
		}

	}

	@keyframes rotateInf {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.sketch-picker * {
		box-sizing: unset!important;
	}
}

@layer base {
	button {
		@apply border-none;
	}
	* {
		box-sizing: border-box;
	}

	@font-face {
		src: url('./assets/JetBrainsMono.ttf');
		font-family: 'JetBrainsMono';
	}

	*::placeholder {
		user-select: none;
	}
}
